data/WTeams.csv filter=lfs diff=lfs merge=lfs -text
data/Cities.csv filter=lfs diff=lfs merge=lfs -text
data/Conferences.csv filter=lfs diff=lfs merge=lfs -text
data/MTeams.csv filter=lfs diff=lfs merge=lfs -text
data/WGameCities.csv filter=lfs diff=lfs merge=lfs -text
data/WNCAATourneyDetailedResults.csv filter=lfs diff=lfs merge=lfs -text
data/WNCAATourneySeeds.csv filter=lfs diff=lfs merge=lfs -text
data/MGameCities.csv filter=lfs diff=lfs merge=lfs -text
data/MNCAATourneyCompactResults.csv filter=lfs diff=lfs merge=lfs -text
data/MNCAATourneyDetailedResults.csv filter=lfs diff=lfs merge=lfs -text
data/MSecondaryTourneyTeams.csv filter=lfs diff=lfs merge=lfs -text
data/MTeamSpellings.csv filter=lfs diff=lfs merge=lfs -text
data/WSeasons.csv filter=lfs diff=lfs merge=lfs -text
data/2024_tourney_seeds.csv filter=lfs diff=lfs merge=lfs -text
data/MNCAATourneySlots.csv filter=lfs diff=lfs merge=lfs -text
data/MConferenceTourneyGames.csv filter=lfs diff=lfs merge=lfs -text
data/WNCAATourneySlots.csv filter=lfs diff=lfs merge=lfs -text
data/WRegularSeasonDetailedResults.csv filter=lfs diff=lfs merge=lfs -text
data/MMasseyOrdinals_thruSeason2024_day128.csv filter=lfs diff=lfs merge=lfs -text
data/WTeamConferences.csv filter=lfs diff=lfs merge=lfs -text
data/sample_submission.csv filter=lfs diff=lfs merge=lfs -text
data/MNCAATourneySeeds.csv filter=lfs diff=lfs merge=lfs -text
data/MRegularSeasonCompactResults.csv filter=lfs diff=lfs merge=lfs -text
data/WNCAATourneyCompactResults.csv filter=lfs diff=lfs merge=lfs -text
data/WTeamSpellings.csv filter=lfs diff=lfs merge=lfs -text
data/MRegularSeasonDetailedResults.csv filter=lfs diff=lfs merge=lfs -text
data/MSeasons.csv filter=lfs diff=lfs merge=lfs -text
data/MNCAATourneySeedRoundSlots.csv filter=lfs diff=lfs merge=lfs -text
data/MSecondaryTourneyCompactResults.csv filter=lfs diff=lfs merge=lfs -text
data/MTeamCoaches.csv filter=lfs diff=lfs merge=lfs -text
data/MTeamConferences.csv filter=lfs diff=lfs merge=lfs -text
data/WRegularSeasonCompactResults.csv filter=lfs diff=lfs merge=lfs -text
